<div class="application__header">
  <div class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        {{#link-to "index" classNames="navbar-brand"}}Marionette <span>Wires</span>{{/link-to}}
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'colors'}}Colors{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="application__flashes"></div>
<div class="application__content">{{outlet}}</div>
<div class="application__overlay"></div>
